@import url("https://fonts.googleapis.com/css?family=Comfortaa%7CPoiret+One");
/* * {
  border: 1px solid gold;
} */
html {
  background: #255c7d;
}
body {
  font-family: "Poiret One", cursive;
  color: steelblue;
  background: linear-gradient(
    #f8b195 5%,
    #f67280 10%,
    #c06c84 20%,
    #6c5b7b 30%,
    #255c7d
  );
  margin: 0;
}
h1,
h2 {
  font-family: "Comfortaa", cursive;
  color: black;
}
h2,
h4 {
  text-align: center;
}
p {
  text-align: justify;
}
nav h1 {
  display: inline;
  font-size: 3em;
}
nav h3 {
  display: inline-block;
  width: 15%;
  text-align: right;
  color: ghostwhite;
}
.half,
.third {
  background: ghostwhite;
  display: inline-block;
  width: 49%;
  padding: 2%;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 16px;
}
.third {
  width: 32%;
  min-height: 280px;
}
.container {
  width: 90%;
  margin: auto;
}
.half img,
.third img {
  max-width: 50%;
  float: left;
  margin-right: 5%;
}
